<html>
  
 <title>Arena Radio — радио с электронной музыкой</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />

<link rel="shortcut icon" href="/favicon.ico" />
<meta property="og:type" content="website" />


<style>
  @keyframes show {
from {opacity: 0;} 80% {opacity: 0;} to {opacity: 1;}
}
  body {margin:0; background: #202020 url(/bck.jpeg) no-repeat; background-size: 120%; font-weight: 400; font-size: 16pt; line-height: 21px;}
  #head {margin:0; padding: 30px; background: rgb(0,0,0); background: linear-gradient(0deg, rgba(0,0,0,0) 16%, rgba(0,0,0,0.4) 100%); width: 100%; height: 300px; }
  .cntrl {animation: show .8s; margin: 0 auto; margin-top: -30px; width: 56px; height: 56px; backdrop-filter: blur(15px); -webkit-backdrop-filter: blur(15px); background: rgba(0, 0, 0, 0.6); padding: 30px; border-radius: 100px;} .play img {width: 48px; margin-left: 10px;} .pause img {width: 48px; margin-left: 4px;} .noUi-target {display: none;}
</style>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


  <div id="head"><img src="/logo.svg"></div>

</head>

<body>
<div id="player">

    <div class="cntrl">
      <div class="play-pause-container">
        <div class="play" id="radioheart-player-play"><img src="/play.png"></div>
        <div class="pause hidden" id="radioheart-player-pause"><img src="/pause.png"></div>
    </div>
    </div>



  <style>#name {position: absolute; padding: 20px; position:absolute; bottom:0; -webkit-user-select: all; /* для Safari */; user-select: all; z-index: 9999}</style>
  <div id="name">
    <div class="current-song marquee"
         id="radioheart-player-current-song"
         data-marquee=""
    >
    </div>
  </div>

  <div id="radioheart-player"
 class="panel-black"
 data-stream="https://listen.myrh.ru/id059977"
 data-autostart="false"
 data-volume="0.7"
 data-logo="https://billing.radioheart.ru/avatars/15124128885a2596d897c85.jpg"
 data-playtext="Arena в эфире"
>


<div class="player-wrapper">
    <div class="controls">
        <div class="play" id="radioheart-player-play">  </div>
        <div class="pause hidden" id="radioheart-player-pause">  </div>
    </div>
    </div>
</div>

<script src="https://player.radioheart.ru/js/app.js"></script>
<link type="text/css" rel="stylesheet" href="/app.css">
<style>.controls {display: none;!important} .panel-black {background-color: rgba(0, 0, 0, 0); border: 0;}</style>

</body>

</html>


