<!DOCTYPE html>
<html> <head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Arena Radio — молодёжная радиостанция с электронной музыкой</title>

<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
<link rel="shortcut icon" href="/favicon.ico" />
<meta property="og:type" content="website" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap" rel="stylesheet">

   <link href="/add_style.css" rel="stylesheet">
   <link href="/style.css" rel="stylesheet">

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(77309401, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/77309401" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</head>
<body>

<div class="mass">


<div class="container">
  <h1>Это Arena Radio</h1>

    <p class="content_s">
      Андеграунд-радио с мнениями, словами и электронной музыкой. Мы делаем поток, в котором размываются границы — люди общаются и самовыражаются, верят в будущее и делятся своим настроением без ограничений.
  </p>
</div>

<iframe src="https://vk.com/video_ext.php?oid=-169023129&id=456239018&hash=c41e778b2f0cc1c8&hd=1" width="100%" height="560" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>

<div class="container_blocks"><div class="question"><h3>Адаптивность</h3>
  Делаем эфир живым, наполняя его электронной музыкой и подкастами разных жанров</div>

  <div class="question"><h3>Актуальность</h3>
    Готовим собственные, независимые передачи и повторяем лучшие из выпущенного ранее.</div>

     <div class="question"><h3>Связность</h3>
         Ведём круглосуточный эфир без перерывов, без привязки к студии и платформе.</div>

         <div class="question"><h3>Доступность</h3>
           Даём высказаться всем — передаём опыт независимо от сферы, приглашаем разных гостей</div>

           <div class="question"><h3>Свобода</h3>
            Держимся в рамках свободы слова. Принимаем любые мнения, даже не самые приятные</div>

               <div class="question"><h3>Коммуникация</h3>
               Пускаем в свой эфир как крупных, так и начинающих авторов и исполнителей</div>

</div>

<div class="container">
  <p class="content">
  Arena —  первая молодёжная радиостанция, вбирающая в себя любые мнения и настроения. Утром и днём мы запускаем в эфир лучшие шоу, в том числе аналитические и культурные, а вечером и ночью становимся окном в мир настоящей электроники разного темперамента. У нас нет ограничений по формату, потому что, как и живой организм, мы растём и меняемся вместе со зрителями — помочь в выпуске следующего эфирного дня можете даже вы.
</p>

</div>

<div id="end"><b>red@arenaradio.ru</b> • 2022</div>

 </body></html>

